<link rel="import" href="x-scene.html" />
<link rel="import" href="../actors/x-tank.html" />
<link rel="import" href="../x-debug.html" />

<template>
    <x-tank>
        <x-debug>
            <x-debug-input type="button" method="stab">Stab</x-debug-input>
            <x-debug-input type="button" method="slash">Slash</x-debug-input>
        </x-debug>
    </x-tank>
</template>

<script>
(function () {
    'use strict';

    var templateBase = HTMLXSceneElement.prototype.template;
    var templateExt = document.currentScript.ownerDocument.querySelector('template');
    var templateMerged = templateBase.cloneNode(true);
    templateMerged.content.appendChild(templateExt.content);

    window.HTMLXCharacterDebugScene = document.registerElement('x-character-debug-scene', {
        prototype: Object.create(HTMLXSceneElement.prototype, {

            template: {
                value: templateMerged
            },


            createdCallback: {
                value: function () {
                    HTMLXSceneElement.prototype.createdCallback.call(this);

                }
            }

        })
    });
}())
</script>
