<link rel="import" href="x-scene.html" />
<link rel="import" href="../x-element.html" />
<link rel="import" href="../actors/x-tank.html" />
<link rel="import" href="../x-debug.html" />

<template>
    <x-tank>
        <x-debug>
            <x-debug-input type="button" method="stab">Stab</x-debug-input>
            <x-debug-input type="button" method="slash">Slash</x-debug-input>
        </x-debug>
    </x-tank>
</template>

<script>
(function () {
    'use strict';


    window.HTMLXCharacterDebugScene = document.registerElement('x-character-debug-scene', {
        prototype: Object.create(HTMLXSceneElement.prototype, {

            template: {
                value: HTMLXElement.mergeTemplates(HTMLXSceneElement.prototype.template.cloneNode(true), document.currentScript.ownerDocument.querySelector('template'))
            },


            createdCallback: {
                value: function () {
                    HTMLXSceneElement.prototype.createdCallback.call(this);

                }
            }

        })
    });
}())
</script>
