<link rel="import" href="x-scene.html" />
<link rel="import" href="../x-element.html" />
<link rel="import" href="../actors/tank/x-tank.html" />
<link rel="import" href="../x-debug.html" />


<template>
    <style>
        x-debug {
            position: absolute;
            left: 400px;
            z-index: 1;
            transform: scale(3.33);
        }

        x-tank {
            top: 100px;
        }

        #tank_first {
            transform: scale(0.3);
            left: 200px;
            top: 100px;
        }

        #tank_second {
            transform: scale(0.3);
            left: 500px;
            top: 100px;
        }
    </style>

    <x-tank id="tank_first">
        <x-debug>
            <x-debug-input type="button" method="stab">Stab</x-debug-input>
            <x-debug-input type="button" method="slash">Slash</x-debug-input>
        </x-debug>
    </x-tank>
    <x-tank id="tank_second">
        <x-debug>
            <x-debug-input type="button" method="stab">Stab</x-debug-input>
            <x-debug-input type="button" method="slash">Slash</x-debug-input>
        </x-debug>
    </x-tank>

</template>


<script>
(function () {
    'use strict';


    window.HTMLXCharacterDebugScene = document.registerElement('x-character-debug-scene', {
        prototype: Object.create(HTMLXSceneElement.prototype, {

            template: {
                value: HTMLXElement.mergeTemplates(HTMLXSceneElement.prototype.template.cloneNode(true), document.currentScript.ownerDocument.querySelector('template'))
            },


            createdCallback: {
                value: function () {
                    HTMLXSceneElement.prototype.createdCallback.call(this);

                }
            }

        })
    });
}())
</script>
