<style>

    :host {
        position: absolute;
    }

    bone {
        position: absolute;
        display: inline-block;
        margin-top: -1px;
        height: 2px;
        background: #000000;
    }

    node {
        position: absolute;
        margin-left: -5px;
        margin-top: -5px;
        padding: 5px;
        width: 0;
        height: 0;
        background: red;
        border-radius: 50%;
    }

    bone node {
        position: absolute;
        left: 100%;
        top: 50%;
    }
</style>

<junction>

    <node id="joint_neck" style="-webkit-transform: rotate(-90deg)">
        <bone style="width: 40px;"></bone>
    </node>

    <node id="joint_shoulder_right" style="-webkit-transform: rotate(0deg)">
        <bone style="width: 50px;">
            <node id="joint_elbow_right" style="-webkit-transform: rotate(0deg)">
                <bone style="width: 50px;"></bone>
            </node>
        </bone>
    </node>

    <node id="joint_shoulder_left" style="-webkit-transform: rotate(180deg)">
        <bone style="width: 50px;">
            <node id="joint_elbow_left" style="-webkit-transform: rotate(0deg)">
                <bone style="width: 50px;"></bone>
            </node>
        </bone>
    </node>

    <node id="joint_torso" style="-webkit-transform: rotate(90deg)">
        <bone style="width: 75px;">
            <junction>

                <node id="joint_hip_right" style="-webkit-transform: rotate(-30deg)">
                    <bone style="width: 60px;">
                        <node id="joint_knee_right" style="-webkit-transform: rotate(0deg)">
                            <bone style="width: 60px"></bone>
                        </node>
                    </bone>
                </node>

                <node id="joint_hip_left" style="-webkit-transform: rotate(30deg)">
                    <bone style="width: 60px;">
                        <node id="joint_knee_left" style="-webkit-transform: rotate(0deg)">
                            <bone style="width: 60px"></bone>
                        </node>
                    </bone>
                </node>

            </junction>
        </bone>
    </node>

</junction>
