<link rel="import" href="x-element.html" />

<style>
    body /deep/ x-debug-input {
        cursor: default;
        color: #eeeeee;
        display: block;
        font-size: 13px;
        padding: 8px;
        margin-top: 0;
        border: 1px solid #bbbbbb;
    }

    body /deep/ x-debug-input + x-debug-input {
        margin-top: 3px;
    }

    body /deep/ x-debug-input:hover {
        background: #668;
    }

    body /deep/ x-debug-input:active {
        background: #6a6;
    }
</style>

<template>
    <style>
        :host {
            background: #333355;
            display: block;
            font-family: 'Helvetica Neue', Arial, sans-serif;
            padding: 5px;
        }
    </style>

    <content select="x-debug-input"></content>

</template>


<script>
(function () {
    'use strict';

    window.HTMLXDebugElement = document.registerElement('x-debug', {
        prototype: Object.create(HTMLXElement.prototype, {

            template: {
                value: document.currentScript.ownerDocument.querySelector('template')
            },


            createdCallback: {
                value: function () {
                    HTMLXElement.prototype.createdCallback.call(this);
                    this._onInputClick = this._onInputClick.bind(this);
                    this.bindEvents();
                }
            },


            bindEvents: {
                value: function () {
                    Array.prototype.forEach.call(this.querySelectorAll('x-debug-input'), function (element) {
                        element.addEventListener('click', this._onInputClick);
                    }, this);
                }
            },


            _onInputClick: {
                value: function (e) {
                    var method = e.target.getAttribute('method');
                    if (this.parentElement[method] instanceof Function) {
                        this.parentElement[method]();
                    }
                },
                writable: true
            }

        })
    });
}())
</script>
