<link rel="import" href="../../x-element.html" />
<link rel="import" href="../x-actor.html" />
<script src="../../../scripts/vendor/jquery/dist/jquery.min.js"></script>
<script src="../../../scripts/vendor/jquery.transit/jquery.transit.js"></script>


<template>

    <content select="x-debug"></content>

    <node id="joint_head" style="transform: rotate(90deg);">
        <bone style="width: 1225px;">
            <skin>
                <img src="components/actors/tank/images/tank-body.png" />
            </skin>
        </bone>
    </node>

    <node id="joint_shoulder" style="transform: rotate(90deg); top: 472px; left: -138px;">
        <bone style="width: 594px; left: -60px;">
            <skin style="z-index: 1;">
                <img src="components/actors/tank/images/tank-arm.png" />
            </skin>
            <node id="joint_sword" style="left: auto; right: 40px; transform: rotate(-50deg);">
                <bone style="width: 608px; left: -110px;">
                    <skin>
                        <img src="components/actors/tank/images/tank-sword.png" />
                    </skin>
                </bone>
            </node>
        </bone>
    </node>

</template>


<script>
(function () {
    'use strict';

    window.HTMLXTankElement = document.registerElement('x-tank', {
        prototype: Object.create(HTMLXActorElement.prototype, {

            template: {
                value: HTMLXElement.mergeTemplates(HTMLXActorElement.prototype.template.cloneNode(true), document.currentScript.ownerDocument.querySelector('template'))
            },


            createdCallback: {
                value: function () {
                    HTMLXActorElement.prototype.createdCallback.call(this);
                }
            },


            pose: {
                value: function (speed) {
                    speed = typeof speed === 'number' ? speed : 1;
                    $(this.shadowRoot.querySelector('#joint_shoulder')).transition({ rotate: 90 }, 700 * speed);
                    $(this.shadowRoot.querySelector('#joint_sword')).transition({ rotate: -50 }, 700 * speed);
                    return this;
                }
            },


            slash: {
                value: function (speed) {
                    speed = typeof speed === 'number' ? speed : 1;
                    var self = this;
                    var $joint_shoulder = $(this.shadowRoot.querySelector('#joint_shoulder'));
                    var $joint_sword = $(this.shadowRoot.querySelector('#joint_sword'));
                    $.when(
                        $joint_shoulder.transition({ rotate: -85 }, 1000 * speed),
                        $joint_shoulder.transition({ rotate: 60 }, 300 * speed),
                        $joint_shoulder.transition({ rotate: 50 }, 400 * speed),
                        $joint_sword.delay(400 * speed).transition({ rotate: -80 }, 700 * speed),
                        $joint_sword.transition({ rotate: -30 }, 300 * speed),
                        $joint_sword.transition({ rotate: -50 }, 300 * speed),
                        $joint_sword.delay(100 * speed)
                    ).then(function () {
                        self.pose(2);
                    });
                }
            },


            stab: {
                value: function (speed) {
                    speed = typeof speed === 'number' ? speed : 1;
                    var self = this;
                    var $joint_shoulder = $(this.shadowRoot.querySelector('#joint_shoulder'));
                    var $joint_sword = $(this.shadowRoot.querySelector('#joint_sword'));
                    $.when(
                        $joint_shoulder.transition({ rotate: 130 }, 600 * speed),
                        $joint_shoulder.transition({ rotate: 40 }, 300 * speed),
                        $joint_shoulder.transition({ rotate: 50 }, 300 * speed),
                        $joint_sword.transition({ rotate: -100 }, 600 * speed),
                        $joint_sword.transition({ rotate: -40 }, 200 * speed),
                        $joint_sword.transition({ rotate: -45 }, 200 * speed),
                        $joint_sword.delay(400 * speed)
                    ).then(function() {
                        return self.pose();
                    });
                }
            }

        })
    });
}())
</script>
